[submodule "service-oriented-architecture"]
	path = service-oriented-architecture
	url = https://github.com/GulDilin/service-oriented-architecture
[submodule "software-testing/itmo-software-testing-lab3"]
	path = software-testing/itmo-software-testing-lab3
	url = git@github.com:GulDilin/itmo-software-testing-lab3.git
[submodule "software-testing/itmo-software-testing-lab1"]
	path = software-testing/itmo-software-testing-lab1
	url = git@github.com:GulDilin/itmo-software-testing-lab1.git
[submodule "software-testing/itmo-software-testing-lab2"]
	path = software-testing/itmo-software-testing-lab2
	url = git@github.com:GulDilin/itmo-software-testing-lab2.git
[submodule "web-labs/itmo-web-programming-lab2-JSP"]
	path = web-labs/itmo-web-programming-lab2-JSP
	url = git@github.com:GulDilin/itmo-web-programming-lab2-JSP.git
[submodule "web-labs/itmo-web-programming-lab4-Spring"]
	path = web-labs/itmo-web-programming-lab4-Spring
	url = git@github.com:GulDilin/itmo-web-programming-lab4-Spring.git
[submodule "web-labs/itmo-web-programming-lab3-JSF"]
	path = web-labs/itmo-web-programming-lab3-JSF
	url = git@github.com:GulDilin/itmo-web-programming-lab3-JSF.git
[submodule "os/os_labs"]
	path = os/os_labs
	url = git@github.com:GulDilin/os_labs.git
[submodule "cloud-and-fog-computing/itmo-fog-computing-test-storage-api"]
	path = cloud-and-fog-computing/itmo-fog-computing-test-storage-api
	url = git@github.com:GulDilin/itmo-fog-computing-test-storage-api.git
[submodule "cloud-and-fog-computing/itmo-fog-computing-test-storage-ui"]
	path = cloud-and-fog-computing/itmo-fog-computing-test-storage-ui
	url = git@github.com:GulDilin/itmo-fog-computing-test-storage-ui.git
[submodule "business-logic-software-systems/itmo-business-logic-software-systems"]
	path = business-logic-software-systems/itmo-business-logic-software-systems
	url = git@github.com:GulDilin/itmo-business-logic-software-systems.git
[submodule "system-software/minimal-relational-db"]
	path = system-software/minimal-relational-db
	url = git@github.com:GulDilin/minimal-relational-db.git
