[submodule "service-oriented-architecture"]
	path = service-oriented-architecture
	url = https://github.com/GulDilin/service-oriented-architecture
[submodule "software-testing/itmo-software-testing-lab3"]
	path = software-testing/itmo-software-testing-lab3
	url = git@github.com:GulDilin/itmo-software-testing-lab3.git
[submodule "software-testing/itmo-software-testing-lab1"]
	path = software-testing/itmo-software-testing-lab1
	url = git@github.com:GulDilin/itmo-software-testing-lab1.git
[submodule "software-testing/itmo-software-testing-lab2"]
	path = software-testing/itmo-software-testing-lab2
	url = git@github.com:GulDilin/itmo-software-testing-lab2.git
[submodule "web-labs/itmo-web-programming-lab2-JSP"]
	path = web-labs/itmo-web-programming-lab2-JSP
	url = git@github.com:GulDilin/itmo-web-programming-lab2-JSP.git
[submodule "web-labs/itmo-web-programming-lab4-Spring"]
	path = web-labs/itmo-web-programming-lab4-Spring
	url = git@github.com:GulDilin/itmo-web-programming-lab4-Spring.git
[submodule "web-labs/itmo-web-programming-lab3-JSF"]
	path = web-labs/itmo-web-programming-lab3-JSF
	url = git@github.com:GulDilin/itmo-web-programming-lab3-JSF.git
[submodule "os/os_labs"]
	path = os/os_labs
	url = git@github.com:GulDilin/os_labs.git
[submodule "cloud-computing/itmo-fog-computing-test-storage-api"]
	path = cloud-computing/itmo-fog-computing-test-storage-api
	url = git@github.com:GulDilin/itmo-fog-computing-test-storage-api.git
[submodule "cloud-computing/itmo-fog-computing-test-storage-ui"]
	path = cloud-computing/itmo-fog-computing-test-storage-ui
	url = git@github.com:GulDilin/itmo-fog-computing-test-storage-ui.git
